.delete__movie {
    background: #232323;
    color: #ffffff;
    position: absolute;
    z-index: 1;
    bottom: 60%;
    left: 35%;
    z-index: 1;
    width: 40%;
    height: 200px;
}

.delete__movie .close {
    margin-top: 10px;
    margin-right: 10px;
    font-size: 14px;
}

.content {
    padding: 28px 20px;
}

.delete__movie button {
    background: #F65261;
    border-radius: 4px;
    float: right;
    margin-top: 30px;
    padding: 10px 20px;
    color: #ffffff;
    border: none;
}