.movie-details {
    display: flex;
    padding: 15px;
    width: 100%;
    background: #232323;
    color: #ffffff;
    position: relative;
}
.movie-image {
    width: 20%;
}
.details {
    padding-left: 30px;
    width: 80%;
}
.year-duration {
    display: flex;
}
.duration {
    margin-left: 15px;
}
.description {
    margin-top: 15px;
}