.button__add, .button__add:hover {
    position: absolute;
    right: 6.17%;
    color: #F65261;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    background: rgba(96, 96, 96, 0.68);
    top: 3%;
}