.movies {
    color: #ffffff;

}
.genre_sortBy__section {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 25px;
}

.movie__section {
    display: flex;
    color: #ffffff;
    flex-wrap: wrap;
}

.genre ul {
    list-style-type: none;
    display: flex;
    padding: 0 10px;
}

.list > li {
    margin-right: 15px;
}

.tabs button {
  color: #ffffff;
  padding-bottom: 10px;
}

.tabs button .Mui-selected {
    color: red;
}