.search {
    position: absolute;
    top: 28%;
    left: 10%;
    width: 100%;
}
.input, .input input:focus {
    background: rgba(50, 50, 50, 0.8);
    margin: 0 10px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    width: 60%;
    border: none;
    color: #FFFFFF;
}

.input input {
    height: 10px !important;
    border: none;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
}
   
.button, .button:hover {
    background: #F65261;
    padding: 6px 24px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
}