.movies {
    color: #ffffff;

}
.genre_sortBy__section {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.movie__section {
    display: flex;
    color: #ffffff;
    flex-wrap: wrap;
}

.genre ul {
    list-style-type: none;
    display: flex;
    padding: 0 10px;
}

ul > li {
    margin-right: 15px;
}

.inactive {
  text-decoration: none;
  color: #ffffff;
}

.active {
    text-decoration: none;
    color: red;
}